body {
    margin: auto;
    max-width: 800px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

label {
    display: block;
}

fieldset {
    background-color: #f4f4f4;
    border: none;
    border-radius: 8px;
}

fieldset + fieldset {
    margin-top: 1rem;
}
